
@font-face {
    font-family:'Quicksand';
    src: url('font/Quicksand-Regular.ttf') format('truetype');
}
body {
    height:100%;
    background-color:#222;
}
.content {
    background-color:#fff;
    border:1px solid #fff;
}
html {
    height:100%;
    font-family:Quicksand, Arial, Liberation, Sans;
    padding:0px;
    margin:0px;
}

#TOC {
    width:40%;
    background-color:#fff;
    border:0.2em dashed #aaa;
    float:right;
    padding:0.5em;
    margin:0.5em;
}
#TOC > ul:first-of-type::before {
    content: "Table of Contents\a\a";
    white-space:pre;
}

a {
    color:#e59;
    text-decoration:none;
    font-weight:bold;
}
a:hover {
    color:#e59;
    text-decoration:underline;
}
h1, h2, h3, h4 {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0.4em;
    color:#555;
    padding-bottom:0.2em;
}
h1 {
    color:#fff;
    border-radius:0.3em;
    background-color:#666;
    display:inline-block;
    padding:0.15em;
    margin-top:0.4em;
    margin-bottom:0.3em;
    margin-left:0.45em;
}
h2 {margin-left:1.0em;}
h3 {margin-left:1.3em;}
h4 {margin-left:1.35em;}
p, ol, ul, img {margin-left:1.6em;}
pre {
    border:0.2em dotted #99b;
    margin-left:2.5em;
    padding:0px;
    display:table;
}
code {
    font-size:0.8em;
    display:inline-block;
    background-color:#e7e7e2;
    padding:0.3em;
    margin:0.1em;
    border:0.1em solid #ca5;
}
pre > code {
    display:block;
    padding:0.5em;
    margin:0px;
    font-size:1.05em;
    border-style:none;
}

#TOC ul {
    padding-left:0.8em;
    margin-left:0em;
    margin-top:0.2em;
    margin-bottom:0.2em;
}

body {
    font-size:1.2em;
    color:#333;
    padding:0px;
    margin:0px;
}

/* Hide pandoc header, since we have our own top bar: */
#header { display:none; }

#topbar, #footer {
	padding:0px; margin:0px; background-color:#222;
    color:#fff; padding:0.3em; font-size:1.2em;
}
#footer {
    font-size:0.9em; text-align:center;
}
#footer a {
    font-weight:bold;
    color:#ccc;
}

#topbar a {
    color:#aaa;
}

